.loader {
  position: fixed;
  inset: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: hidden;
}
.container {
  aspect-ratio: 1/1;
  width: 300px;
}
