.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
aside {
  height: 100%;
  width: 200px;
  border-right: 1px solid var(--border-clr);
  padding: 10px 14px;
}

aside li {
  font-weight: var(--fweight-medium);
  margin-block: 4px;
  padding-left: 14px;
  cursor: pointer;
  list-style: inside;
  width: 100%;
}

aside li:hover {
  color: var(--clr-blue);
}
.buttonWrapper {
  display: none;
}
.categoryList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.categoryList button {
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;
}

.categoryList li:hover button {
  color: var(--clr-blue);
}

@media screen and (max-width: 900px) {
  aside {
    display: none;
  }
  .buttonWrapper {
    display: block;
    background-color: var(--clr-blue);
  }
  .mobileVersion {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 3;
    text-align: center;
    background-color: var(--bg-clr);
    padding: 0;
  }
  .categoryHeader {
    flex-direction: row-reverse;
    padding: 6px 12px 0 12px;
  }
  .categoryHeader h3 {
    flex: 1;
    text-align: center;
  }
  .mobileVersion li {
    border-bottom: 1px solid var(--border-clr);

    text-transform: uppercase;
    width: 100%;
    text-align: start;
    list-style: none;
    margin: 0;
    padding-block: 6px;
  }
  .mobileVersion li button {
    font-size: var(--font-medium);
    font-weight: var(--fweight-medium);
  }
  .mobileVersion li:hover button {
    color: var(--clr-blue);
  }
  .mobileVersion li:hover {
    border-bottom: 1px solid var(--clr-blue);
  }
}
