.note {
  width: 180px;
  height: 140px;
  border-radius: 4px;
  background-color: var(--clr-yelow);
  box-shadow: var(--box-shadow);
  position: relative;
}
.noteText {
  padding: 4px 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}
.pin {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -16px;
  left: 40%;
  transform: rotate(5deg);
}
.closeNote {
  display: none;
}

.closeNote img {
  width: 100%;
  height: 100%;
}
.note:hover {
  box-shadow: var(--box-shadow-active);
}
.note:hover .closeNote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -18px;
  right: -16px;
  background-color: var(--clr-blue);
  cursor: pointer;
}
