:root {
  --bg-clr: #d7dde9;
  --text-clr: #232323;

  --clr-pink: #f9cedf;
  --clr-blue: #8cbbf1;
  --clr-yelow: #fceecb;
  --clr-white: #fdfdff;
  --box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-active: -1px 2px 10px 1px rgba(0, 0, 0, 0.4);

  --font-big: 24px;
  --font-medium: 18px;
  --font-small: 14px;

  --fweight-big: 700;
  --fweight-medium: 500;
  --fweight-small: 300;

  --border-clr: #2323234b;
  --preview-bg: #fdfdff;
}
.modalWrapper {
  position: absolute;
  inset: 0;
  background: #36363621;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background-color: var(--preview-bg);
  color: var(--preview-bg);
  padding: 30px 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  position: relative;
}
.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalContainer p {
  font-size: var(--font-medium);
  font-weight: var(--fweight-medium);
}
.modalContainer input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--text-clr);
  padding: 4px 8px;
  font-size: var(--font-medium);
  font-weight: var(--fweight-small);
  outline: transparent;
}

.modalContainer .categoryText {
  font-size: var(--font-medium);
  font-weight: var(--fweight-small);
}
.categoryText span {
  font-size: var(--font-medium);
  font-weight: var(--fweight-medium);
}

.box{
    margin-block: 16px;
    width: 350px;
}

.closeButton{
    position: absolute;
    top: 3%;
    right: 3%;
}