.root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.graphWrapper {
  height: 350px;
  width: 70%;
  padding-bottom: 30px;
  /* box-shadow: var(--box-shadow); */
  /* background-color: var(--preview-bg); */
}
.pieWrapper {
  height: 350px;
  width: 300px;
  /* box-shadow: var(--box-shadow); */
  /* background-color: var(--preview-bg); */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 20px 10px;
}

.container h2 {
  color: var(--text-clr);
}
.goalsWrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    
}
.goalWrapper{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.emoji{
    font-size: var(--font-medium);
}
.goalCard{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: var(--font-small);
    font-weight: var(--fweight-small);

}
.goalCard span{
    font-size: var(--font-medium);
    font-weight: var(--fweight-medium);  
}

@media only screen and (max-width: 1000px) {
  .root {
    overflow: auto;
  }
  .container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .graphWrapper {
    width: 100%;
  }
}
