:root {
  --profile-theme-clr: #738d8f99;
}
[data-theme='dark'] {
  --profile-theme-clr: #1812242e;
}
button {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}
.root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg-clr);
}
.widthContainer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
  margin-inline: auto;
  width: 81%;
  padding-inline: 0.5%;
}
.graphWrapper {
  height: 450px;
  width: 64%;
  padding-bottom: 30px;
  box-shadow: var(--box-shadow);
  background-color: var(--profile-theme-clr);
}
.pieWrapper {
  height: 450px;
  width: 35%;
  box-shadow: var(--box-shadow);
  background-color: var(--profile-theme-clr);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.container h2 {
  color: var(--text-clr);
  color: #f4f4f4;
}
.headerContentWrapper {
  display: flex;
  justify-content: space-between;
}
.profileData {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
  flex: 1;
  background-color: var(--profile-theme-clr);
  padding: 12px 20px;
  color: #f4f4f4;
  max-height: 100px;
}
.rightSide img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.rightSide {
  font-size: var(--font-big);
  font-weight: var(--fweight-medium);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  height: 100%;
}
.goBack {
  display: flex;
  gap: 6px;
  align-items: center;
}
.leftSide button {
  aspect-ratio: 1 / 1;
  width: 32px;
  padding: 0;
}
.leftSide {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.section {
  position: relative;
  box-shadow: var(--box-shadow);
  background-color: var(--profile-theme-clr);
  color: #f4f4f4;
}
.buttons {
  display: flex;
  padding-inline: 6px;
  gap: 12px;
}
.backWrapper {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
}
.backWrapper a {
  color: var(--text-clr);
}

.backWrapper img {
  width: 14px;
}

.editProfile {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0;
  margin: 0;
  margin-top: auto;
  cursor: pointer;
}
.editPrompt {
  position: absolute;
  color: #f4f4f4;
  font-weight: var(--fweight-medium);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-clr);
  display: none;
  left: 0px;
  padding: 6px;
  border-radius: 4px;
}

.editProfile img {
  width: 24px;
}
.userNameWrapper {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  gap: 10px;
}
.userNameWrapper img {
  width: 24px;
  height: 24px;
}
.accountModal {
  position: absolute;
  top: 24%;
  right: 10%;
  background-color: var(--clr-white);
  z-index: 4;
  padding: 18px 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}
.accountModal button{
  color: var(--text-clr);
}
@media only screen and (max-width: 1080px) {
  .widthContainer {
    overflow-y: auto;
    width: 96%;
    height: 100vh;
    justify-content: flex-start;
  }
  .accountModal {
    top: 10%;
    right: 40px;
  }
  .headerContentWrapper {
    flex-direction: column-reverse;
  }
  .goalWrapper {
    width: 100%;
  }
  .goalCard {
    width: 100%;
  }
  .container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
  }
  .graphWrapper {
    width: 100%;
  }
  .pieWrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .rightSide {
    align-items: flex-end;
  }
  .userNameWrapper {
    align-items: flex-end;
  }
  .editProfile img {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .widthContainer {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .widthContainer {
    padding-top: 10px;
    width: 96%;
  }
  .goalCard {
    font-size: var(--font-small);
    font-weight: var(--fweight-small);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
  }
  .goalWrapper {
    width: 100%;
    justify-content: space-around;
  }
  .rightSide {
    font-size: var(--font-big);
    font-weight: var(--fweight-big);
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: flex-end;
  }
  .rightSide img {
    width: 44px;
    height: 44px;
  }
  .editProfile img {
    width: 24px;
    height: 24px;
  }
  .userNameWrapper {
    align-items: flex-end;
  }
}
@media only screen and (max-width: 320px) {
  .widthContainer {
    padding-top: 10px;
    width: 100%;
  }
}

@media (hover: hover) {
  .backWrapper:hover {
    color: var(--text-clr);
  }
  .editProfile:hover .editPrompt {
    display: block;
  }
}
