.modal {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  background: #36363621;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrapper {
  padding: 18px 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  gap: 16px;
}
.modalHeader {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.modalWrapper p {
  padding: 0;
  margin: 0;
  width: 250px;
  font-size: var(--font-small);
  font-weight: var(--fweight-small);
  letter-spacing: 1.2;
}
.modal h3::first-letter {
  text-transform: uppercase;
}