.leftSide {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.rightSide {
  display: flex;
  gap: 10px;
  position: relative;
}
.accountModal {
  position: absolute;
  bottom: -330%;
  right: -10%;
  background-color: var(--clr-white);
  z-index: 4;
  width: 200px;
  padding: 8px 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}
.appTitle {
  font-size: var(--font-big);
  font-weight: var(--fweight-big);
  color: var(--text-clr);
}
.appTitle:hover {
  color: var(--text-clr);
}
