header{
  position: relative;
}
.leftSide {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.rightSide p {
  color: var(--text-clr);
}
.rightSide img {
  border-radius: 50%;
}

.rightSide button{
  display: flex;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}
.accountModal {
  position: absolute;
  bottom: -220%;
  right: 0%;
  background-color: var(--clr-white);
  z-index: 4;
  padding: 18px 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}
.accountModal button{
  align-items: center;
  justify-content: center; 
}
.appTitle {
  font-size: var(--font-big);
  font-weight: var(--fweight-big);
  color: var(--text-clr);
}
.appTitle:hover {
  color: var(--text-clr);
}
.userAvatar{
  width: 34px;
  height: 34px;
}
@media screen and (max-width: 400px) {
  .appTitle {
    font-size: var(--font-medium);
    font-weight: var(--fweight-medium);
    color: var(--text-clr);
  }
}
@media screen and (max-width: 400px) {
  .appTitle {
    font-size: var(--font-small);
    font-weight: var(--fweight-small);
    color: var(--text-clr);
  }
}