.previewWrapper {
  --box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.2);

  padding: 5px;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;

  background-color: var(--preview-bg);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-align: start;
  position: relative;
  border: transparent;
}
.todo {
  flex-grow: 1;
  cursor: pointer;
  padding-inline: 6px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: nowrap;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-height: 1.8;
  font-size: var(--font-small);
  font-weight: var(--fweight-small);
  text-transform: capitalize;
}

@keyframes show {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}

.previewWrapper:hover {
  box-shadow: var(--box-shadow-active);
}
.completeTodo {
  border-radius: 50%;
  position: relative;
  align-self: center;
  width: 18px;
  height: 18px;
}
.completeTodo img {
  width: 100%;
  height: 100%;
}
.completeTodo label img:active {
  border-radius: 50%;
  background-color: var(--clr-blue);
}

.deleteTodo {
  position: relative;
  align-self: center;
}

.deleteTodo button {
  color: var(--clr-blue);

  border: transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}
.deleteTodo img {
  width: var(--font-medium);
}

.completeTodo button {
  display: contents;
  cursor: pointer;
}
