.tooltip {
  position: absolute;
  left: -200%;
  bottom: -150%;
  width: clamp(80px, 120px, 150px);
  padding: 4px 4px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--preview-bg);
  box-shadow: var(--box-shadow);
  font-size: var(--font-small);
  font-weight: var(--fweight-small);
}
