.tooltip {
  position: absolute;
  left: -30px;
  bottom: -100%;
  min-width: 140px;
  width:fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--preview-bg);
  box-shadow: var(--box-shadow);
  font-size: var(--font-small);
  font-weight: var(--fweight-medium);
  color: var(--text-clr);
  z-index: 3;
}
