.inputWrapper {
  display: flex;
  flex-direction: column;
  min-height: 62px;
  position: relative;
}
.showHidePasswordButton {
  position: absolute;
  right: 10px;
  top: 8px;
}
.inputWrapper input {
  min-width: 250px;
  max-width: 100%;
  height: 40px;
  border: none;
  outline: transparent;
  padding: 6px 18px 4px 10px;
  background-color: #2323230f;
  caret-color: var(--clr-blue);
  font-weight: var(--fweight-medium);
  border-bottom: 2px solid var(--clr-blue);
}
.error input {
  border-bottom: 2px solid var(--clr-error);
}
.inputWrapper label {
  margin-left: 10px;
  width: 100%;
  font-size: var(--font-small);
  font-weight: var(--fweight-small);
}
.error {
  color: #f42c4f;
}
::placeholder {
  text-transform: capitalize;
}
