.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 4px 12px;
  background-color: var(--clr-white);
  border: 1px solid var(--text-clr);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  position: absolute;
  gap: 10px;
  color: var(--clr-black);
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
}
.alert button {
  display: contents;
  cursor: pointer;
}
.noteSuccessAlert {
  left: 40%;
  top: 150px;
}
.error {
  background: #feebea;
  border: 1.5px solid #f42c4f;
}

.error .alert {
  background-color: #f42c4f;
}

.success {
  background: #ebf9f1;
  border: 1.5px solid #00ca71;
}

.icon {
  height: 25px;
  width: 25px;
}
.icon img {
  width: 100%;
  height: 100%;
}
.title {
  font-size: var(--font-small);
  font-weight: var(--fweight-medium);
  padding-left: 10px;
  flex: 1;
}

.notesAlert button {
  height: 20px;
  padding: 0;
  border: transparent;
  outline: transparent;
  background-color: transparent;
}
.alertHidden {
  display: none;
}
