.container {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 50px;
  color: var(--text-clr);
}

.todoInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.todoInfo h1 {
  color: var(--text-clr);
}
.todoContent {
  padding: 6px 18px;
}
.buttonsContainer {
  grid-area: 2 / 7 / 2 / 1;
}
.todoInfo {
  border-bottom: 1px solid var(--border-clr);
  border-right: 1px solid var(--border-clr);
  padding: 6px 18px;
}
.todoContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid var(--border-clr);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 6px;
}
.mainButtons {
  display: flex;
  gap: 30px;
}
.noteContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 100%;
}
.subtitle {
  font-size: var(--font-big);
  font-weight: var(--fweight-medium);
}
.iwrapper {
  flex-grow: 1;
}
.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 80px;
  width: 100%;
}
.goBackLink {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

@media screen and (max-width: 1470px) {
  .noteContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1145px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    overflow: auto;
    gap: 12px;
  }
  .todoInfo {
    order: 2;
    border: none;
  }
  .buttonsContainer {
    order: 1;
    border-bottom: 1px solid var(--border-clr);
  }
  .todoContent {
    order: 3;
  }
}

@media screen and (max-width: 800px) {
  .noteContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .inputWrapper {
    flex-direction: column;
    gap: 10px;
    height: fit-content;
  }
  .iwrapper {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .todoInfo {
    order: 1;
    border: none;
  }
  .buttonsContainer {
    order: 3;
    margin-top: auto;
    border-bottom: 1px solid var(--border-clr);
    margin-bottom: 10px;
  }
  .todoContent {
    order: 2;
  }
  .mainButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (max-width: 610px) {
  .noteContainer {
    grid-template-columns: 1fr;
    min-height: 160px;
  }
  .buttonsContainer{
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .container {
    padding: 12px 14px;
  }
}

@media screen and (max-width: 480px) {
  .inputWrapper p {
    font-size: var(--font-small);
  }
  .container h1 {
    font-size: var(--font-medium);
    font-weight: var(--fweight-small);
  }

}
